MOIRA_WEB_HOST=0.0.0.0
MOIRA_WEB_PORT=8080
MOIRA_WEB_STATIC_DIR=client
MOIRA_WEB_RESOURCE_DIR=..
MOIRA_WEB_CORS_ORIGIN=http://localhost:8080
MOIRA_WEB_STATIC_CACHE=true
MOIRA_WEB_MAX_THREADS=8
MOIRA_WEB_MAX_BODY_BYTES=2097152
MOIRA_WEB_VERIFY_URL=http://127.0.0.1:8080
MOIRA_WEB_WAIT_SECONDS=120
MOIRA_WEB_POLL_SECONDS=2
DIGITALOCEAN_BUILD_IMAGE=false
DIGITALOCEAN_IMAGE_PLATFORM=linux/amd64
DIGITALOCEAN_WAIT=true
DIGITALOCEAN_VERIFY=true
